.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  padding: 30px;
  border-bottom: solid 15px #183a1d;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

.infoWrapper {
  width: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.userWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.userWrapper h1 {
  font-family: "Source Serif Pro", serif;
  font-size: larger;
  color: #f0a04b;
}
