.button {
  padding: 5px 15px 5px 15px;
  font-family: "Source Serif Pro", serif;
  font-size: x-large;
  background-color: #183a1d;
  color: #fefbe9;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #2c8838;
  cursor: pointer;
}
