.title {
  width: auto;
  padding: 10px 30px 10px 30px;
}

.title h1 {
  color: #183a1d;
  font-family: "Phudu", cursive;
}

.questionList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
}

.buttonWrapper {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  width: 25%;
}

@media screen and (max-width: 500px) {
  .buttonWrapper {
    width: 90%;
    flex-direction: column;
    margin: 2rem auto;
    gap: 0.5rem;
  }
}
