.loginContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  margin: auto;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e1eedd;
  border-radius: 20px;
  padding: 50px;
}

.text {
  font-family: "Source Serif Pro", serif;
  color: #183a1d;
}

.button {
  font-family: "Source Serif Pro", serif;
  font-size: larger;
  color: #183a1d;
  background: none;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: #183a1d;
  color: #e1eedd;
  border-radius: 5px;
}
